body {
    background-color: aliceblue;
    color: darkblue;
}

h2,
h3,
h4,
h5,
h6,
a {
    color: crimson;
}

.kep-keret {
    text-align: center;
}

#vizszintes-vonal {
    width: 70%;
    text-align: center;
}

.tablazat {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 0px;
}

#kep1 {
    width: 230px;
    height: 153px;
}

#kep2 {
    width: 230px;
    height: 153px;
    float: right;
}

#kep1, 
#kep2 {
    border: 1px solid black;
}

.tablazat2{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 0;
    border-collapse: collapse;
}

.tablazat2 td{
    padding: 6px;
    margin: 6px solid black;
    text-align: center;
}

.tablazat2 td:first-child {
    width: 240px;
}

.tablazat2 h2 {
    color: aliceblue;
    background-color: crimson;
}